[Unit]
Description=Data mule companion computer avionics
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/mission-mule/data-mule/app.py /opt/mission-mule/data-mule/waypoints/data_stations_abu_dhabi.csv /opt/mission-mule/data-mule/waypoints/landing_abu_dhabi.csv
Restart=on-failure

[Install]
WantedBy=multi-user.target
