[Unit]
Description=Data mule companion computer avionics
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/mission-mule/firefly-mule/avionics
Restart=on-failure

[Install]
WantedBy=multi-user.target
